.segment {
  padding: 40px 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 24px;
}

.centered {
  text-align: center;
}

.mod-blue {
  background-color: #0079BF;
  color: #fff;
}

.mod-gray {
  background-color: #dfe1e6;
}

.mod-light-blue {
  background-color: #E4F0F6;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 24px;
}

.three-column-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 24px;
}

.wide-card {
  width: 300px;
}

.product-link {
  display: block;
}

trello-card {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 8px;
  }

  .two-column-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 12px;
  }

  .three-column-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 12px;
  }

  .screenshot {
    width: 100%;
  }

  .gist {
    max-width: 100%;
    & table{
      table-layout: fixed;
    }

    & td.js-line-number{
      width: 8px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 860px) {
  .two-column-grid {
    grid-template-columns: auto auto;
    grid-column-gap: 12px;
  }

  .screenshot {
    width: 100%;
  }

  .gist {
    max-width: 100%;
    & table{
      table-layout: fixed;
    }

    & td.js-line-number{
      width: 8px;
      text-align: center;
    }
  }
}
