.segment {
  padding: 40px 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 24px;
}

.centered {
  text-align: center;
}

.mod-blue {
  background-color: #0079BF;
  color: #fff;
}

.mod-gray {
  background-color: #dfe1e6;
}

.mod-light-blue {
  background-color: #E4F0F6;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 24px;
}

.two-by-two-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
  justify-items: center;
  margin-top: 24px;
}

.wide-card {
  width: 300px;
}

trello-card {
  text-align: left;
}
